<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="status(submission)" th:switch="${submission.status.name}">
    <span th:case="'QUEUED'" class="badge bg-secondary">
        Queued
    </span>
    <span th:case="'GRADING'" class="badge bg-info">
        Grading...
    </span>
    <span th:case="'GRADED'" class="badge bg-primary">
        Graded
    </span>
    <span th:case="'ERROR'" class="badge bg-danger">
        Error
    </span>
</th:block>

<th:block th:fragment="result(submission)">
    <span th:if="${submission == null || !submission.hasResult || !submission.result.successful}">
        —
    </span>
    <th:block th:if="${submission != null && submission.hasResult && submission.result.successful}"
              th:object="${submission.result}">
        <span th:if="*{!compiled}" class="badge bg-danger">
            Compile errors
        </span>
        <span th:if="*{compiled && totalTests == 0}" class="badge bg-secondary">
            No tests
        </span>
        <th:block th:if="*{compiled && totalTests > 0}"
                  th:with="title=|*{passedTests.size} / *{totalTests} tests passed (*{passedTests.size * 100 / totalTests}%)|">
            <span th:replace="::resultBar(*{passedTestsRatio},${title})"></span>
        </th:block>
    </th:block>
</th:block>

<span th:fragment="resultBar(ratio,title)"
      class="test-bar d-inline-block align-middle" style="width: 8rem; height: 1rem;" th:title="${title}">
        <span class="passed d-inline-block" style="width: 50%;"
              th:style="|width: ${100.0 * ratio}%;|"></span>
</span>
</html>
