<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="page::html(title=~{::title},main=~{::main})">
<head>
    <title>Grading Server</title>
</head>
<body>
    <main>
        <h1>Grading Server</h1>
        <h2>Courses</h2>
        <p th:unless="${courses.empty}" th:each="course : ${courses}">
            <a href="courses/course.html" th:href="@{/courses/{id}/(id=${course.id})}" th:text="${course.fullName}">OOPI2 (FS 2021 2Ibb1)</a>
        </p>
        <p th:if="${courses.empty}">
            No courses created yet.
        </p>
        <p sec:authorize="hasRole('LECTURER')">
            <a class="btn btn-primary" href="courses/create.html" th:href="@{/courses/create}">
                <i class="fa fa-plus"></i> Create Course
            </a>
        </p>
        <h2>About</h2>
        <p>Grading Server <em>Alpha</em>. More to come...</p>
    </main>
</body>
</html>
