<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="html(title,main)"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:replace="${title}">Title</title>
    <link rel="shortcut icon" href="../static/favicon/favicon.ico" th:href="@{/favicon/favicon.ico}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <header class="container-lg">
        <div class="row justify-content-between">
            <nav class="col-auto">
                <a th:href="@{/}" class="btn btn-link" title="Home"><i class="fa fa-home"></i></a>
            </nav>
            <div class="col-auto d-flex">
                <div sec:authorize="hasRole('ADMIN')" class="pe-3">
                    <a th:href="@{/admin/}" class="btn btn-link link-secondary" title="Admin panel">
                        <i class="fa fa-cog"></i>
                    </a>
                </div>
                <a sec:authorize="isAnonymous()" th:href="@{/login}" class="btn btn-primary">Sign in</a>
                <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-secondary">Sign out</button>
                </form>
            </div>
        </div>
    </header>
    <div id="main-outer">
        <div class="container-lg">
            <main th:replace="${main}">
                <h1>Heading</h1>
                <p>Example Text</p>
            </main>
        </div>
    </div>
    <footer class="container-lg">
        <div class="row justify-content-between">
            <div class="col-auto">
                <i class="fa fa-code"></i> Michael Faes
            </div>
            <div class="col-auto">
                Grading service is
                <span class="badge bg-success"
                      th:class="|badge bg-${@gradingService.status.name == 'UP' ? 'primary' : 'danger'}|"
                      th:text="${@gradingService.status}">UP</span>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
