<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <!-- reuse Spring default config for %clr and %wEx conversions -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p){} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx</pattern>
        </encoder>
    </appender>

    <springProperty name="loki-base-url" source="grading-server.loki-base-url" />
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <batchTimeoutMs>5000</batchTimeoutMs>
        <http>
            <url>${loki-base-url}/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>
                    app=grading-server,
                    host=${HOSTNAME},
                    level=%level
                </pattern>
            </label>
            <message>
                <pattern>%clr(%5p){} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx</pattern>
            </message>
        </format>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOKI" />
    </root>
</configuration>
