@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @screen md {
        html {
            font-size: 105%;
        }
    }

    h1, h2, h3 {
        @apply font-black italic;
    }

    h1 {
        @apply text-3xl -mt-0.5;
    }

    h2 {
        @apply text-2xl mt-2 mb-3;
    }

    h3 {
        @apply text-xl mt-1.5 mb-2;
    }

    input, select, textarea {
        @apply px-2 py-1 rounded-lg shadow-inner border-slate-200 border-2
            focus:outline-none focus:border-blue-500 transition;
    }

    select {
        @apply p-1;
    }
}

@layer components {
    .card {
        @apply block my-3 px-3 py-2 bg-white rounded-lg shadow-lg
            shadow-slate-200 transition;
    }

    a.card {
        @apply hover:shadow-slate-300;
    }

    .button {
        @apply inline-block px-4 py-1.5 text-white text-base font-normal
            not-italic text-center
            bg-blue-500 rounded-full shadow-lg shadow-slate-300
            hover:shadow-slate-400 hover:bg-blue-600 transition;
    }

    .button-secondary {
        @apply button bg-slate-400 hover:bg-slate-500;
    }

    .button-danger {
        @apply button bg-rose-600 hover:bg-rose-700;
    }

    .link {
        @apply text-blue-500;
    }

    .link-hover {
        @apply underline underline-offset-2 decoration-1;
    }
}
