<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="page::html(title=~{::title},main=~{::main})">
<head>
    <title th:text="${course.fullName}">Course Name</title>
</head>
<body>
    <main th:object="${course}">
        <h1 th:text="*{fullName}">Course Name</h1>
        <p>
            <span th:text="${course.lecturers.size == 1 ? 'Lecturer' : 'Lecturers'}">Lecturer</span>:
            <span th:text="${#strings.setJoin(course.lecturers.![displayName], ', ')}">Peter Meier</span>
        </p>

        <div th:if="*{problemSets.empty}" class="alert alert-warning" role="alert">
            No problem sets added yet.
        </div>
        <table class="table" th:unless="*{problemSets.empty}">
            <thead>
                <tr>
                    <th>Problem Set</th>
                    <th>Deadline</th>
                    <th class="d-none d-sm-table-cell">Submissions</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="problemSet : *{problemSets}">
                    <tr sec:authorize="!#vars.problemSet.hidden || hasRole('LECTURER')">
                        <td>
                            <a href="../problem-sets/problem-set.html"
                               th:href="@{problem-sets/{id}/(id=${problemSet.id})}"
                               th:text="${problemSet.name}">Problem Set Name</a></td>
                        <td>
                            <span th:text="${@prettyTime.get.format(problemSet.deadline)}">
                                4 days from now
                            </span>
                            <span th:text="|(${#temporals.format(problemSet.deadline, 'MEDIUM')})|"
                                  class="d-none d-md-inline">
                                (17.10.2021, 23:59:00)
                            </span>
                        </td>
                        <td class="d-none d-sm-table-cell"
                            th:text="|${problemSet.solutionsWithSubmissions} submissions|">
                            5 submissions
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <div sec:authorize="@access.check(#vars.course)" class="mb-3">
            <a class="btn btn-primary" href="../problem-sets/add.html" th:href="@{problem-sets/add}">
                <i class="fa fa-plus"></i> Add problem set
            </a>
            <form th:action="@{delete}" method="post" class="d-inline"
                  onSubmit="return confirm('Sure?');">
                <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
            </form>
        </div>
    </main>
</body>
</html>
