<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="page::html(title=~{::title},main=~{::main})">
<head>
    <title th:text="${course.fullName}">Course Name</title>
</head>
<body>
    <main th:object="${course}">
        <h1 th:text="*{fullName}">Course Name</h1>
        <div th:if="*{problemSets.empty}" class="alert alert-warning" role="alert">
            No problem sets added yet.
        </div>
        <table class="table" th:unless="*{problemSets.empty}">
            <thead>
                <tr>
                    <th>Problem Set</th>
                    <th>Deadline</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="problemSet : *{problemSets}">
                    <td>
                        <a href="../problem-sets/problem-set.html"
                           th:href="@{problem-sets/{id}/(id=${problemSet.id})}"
                           th:text="${problemSet.name}">Problem Set Name</a></td>
                    <td th:text="${#temporals.format(problemSet.deadline)}">Deadline</td>
                </tr>
            </tbody>
        </table>
        <p sec:authorize="isAuthenticated()">
            <a class="btn btn-primary" href="../problem-sets/add.html" th:href="@{problem-sets/add}">Add problem set</a>
        </p>
    </main>
</body>
</html>
