<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title data-th-text="${course.fullName}">Course Name</title>
</head>
<body>
    <h1 data-th-text="${course.fullName}">Course Name</h1>
    <table>
        <thead>
            <tr>
                <th>Problem Set</th>
                <th>Deadline</th>
            </tr>
        </thead>
        <tbody>
            <tr data-th-each="problemSet : ${course.problemSets}">
                <td data-th-text="${problemSet.name}">Problem Set Name</td>
                <td data-th-text="${problemSet.deadline}">Deadline</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
