<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="page::html(title=~{::title},main=~{::main})">
<head>
    <title>Create New Course</title>
</head>
<body>
    <main th:with="today = ${#temporals.createToday()}">
        <h1>Create New Course</h1>
        <form th:action="@{create}" method="post">
            <div class="row mb-3">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" id="name" name="name"class="form-control" required>
                </div>
            </div>
            <div class="row mb-3">
                <label for="termKind" class="col-sm-2 col-form-label">Term</label>
                <div class="col">
                    <input type="text" id="termKind" name="termKind" class="form-control" required
                           value="FS" th:value="(${#temporals.month(today)} < 7) ? ('FS') : ('HS')">
                </div>
                <div class="col ps-0">
                    <input type="number" id="termYear" name="termYear" class="form-control"
                           value="2021" th:value="${#temporals.year(today)}" required>
                </div>
            </div>
            <div class="row mb-5">
                <label for="qualifier" class="col-sm-2 col-form-label">Qualifier</label>
                <div class="col-sm-10">
                    <input type="text" id="qualifier" name="qualifier" class="form-control">
                </div>
            </div>
            <div class="row mb-5">
                <label for="coLecturers" class="col-sm-2 col-form-label">Lecturers</label>
                <div class="col-sm-10">
                    <select name="coLecturers" id="coLecturers" class="form-control" multiple size="2">
                        <option th:each="lect : ${possibleCoLecturers}" th:value="${lect.id}"
                                th:text="|${lect.displayName} (${lect.username})|">
                            Peter Meier (peter)
                        </option>
                    </select>
                    <div class="form-text">
                        Additional users that are permitted to make changes to this course.
                        You, the creator of the course, are added as a lecturer either way.
                    </div>
                </div>
            </div>
            <div class="row gy-2">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary w-100">Create</button>
                </div>
                <div class="col-sm-2">
                    <a href="../home.html" th:href="@{/}" class="btn btn-secondary w-100">Cancel</a>
                </div>
            </div>
        </form>
    </main>
</body>
</html>
