<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="page::html(title=~{::title},main=~{::main})">
<head>
    <title>Create New Course</title>
</head>
<body>
    <main th:with="today = ${#temporals.createToday()}">
        <h1>Create New Course</h1>
        <form th:action="@{/courses/create}" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name"class="form-control">
            </div>
            <div class="form-group">
                <label for="termKind">Term</label>
                <div class="form-row">
                    <div class="col">
                        <input type="text" id="termKind" name="termKind" value="FS" th:value="(${#temporals.month(today)} < 7) ? ('FS') : ('HS')" class="form-control">
                    </div>
                    <div class="col">
                        <input type="number" id="termYear" name="termYear" value="2021" th:value="${#temporals.year(today)}" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="qualifier">Qualifier</label>
                <input type="text" id="qualifier" name="qualifier" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </main>
</body>
</html>
