<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="page::html(title=~{::title},main=~{::main})">
<head>
    <title th:text="|Submission *{submission.shortCommitHash} (*{submission.solution.problemSet.name})|">
        Submission c0f27a18 (Problem set)
    </title>
</head>
<body>
    <main th:object="${submission}">
        <h1>Submission <span class="font-monospace" th:text="*{shortCommitHash}">c0f27a18</span></h1>
        <table class="table table-borderless table-sm w-auto">
            <tbody>
                <tr>
                    <td>Problem set:</td>
                    <td>
                        <a href="../problem-sets/problem-set.html" th:href="@{../../../..}"
                           th:text="*{solution.problemSet.name}">Problem set name</a></td>
                </tr>
                <tr>
                    <td>Authors:</td>
                    <td>
                        <span th:unless="*{solution.problemSet.anonymous}"
                              th:text="*{#strings.setJoin(solution.authors, ', ')}">
                            Author1, Author2
                        </span>
                        <span th:if="*{solution.problemSet.anonymous}" class="text-muted fst-italic"
                              th:title="*{#authorization.expr('@access.check(#vars.submission)') ? #strings.setJoin(solution.authors, ', ') : ''}">
                            (anonymous)
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Received:</td>
                    <td>
                        <span th:text="${@prettyTime.get.format(submission.receivedDate)}"
                              th:title="*{#temporals.format(receivedDate)}">
                            Date
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td>
                        <th:block th:switch="*{status.name}">
                            <span th:case="'QUEUED'" class="badge bg-secondary">
                                Queued
                            </span>
                            <span th:case="'GRADING'" class="badge bg-info">
                                Grading...
                            </span>
                            <span th:case="'GRADED'" class="badge bg-primary">
                                Graded
                            </span>
                            <span th:case="'ERROR'">
                                <span class="badge bg-danger">Error</span><br>
                                <span class="font-monospace" th:text="*{result.error}">Error message</span>
                            </span>
                        </th:block>
                    </td>
                </tr>
            </tbody>
        </table>

        <th:block th:if="${submission.result != null && submission.result.successful}"
             th:object="${submission.result}" class="mt-3">
            <h2>Results</h2>
            <div th:if="*{!compiled}" class="alert alert-danger">
                <i class="fa fa-fw fs-4 fa-times-circle" style="vertical-align: -0.2em;"></i>
                The submission contains compile errors. No tests were executed.
            </div>
            <div th:if="*{compiled && properties.contains('compile errors') && !failedTests.isEmpty}"
                 class="alert alert-warning">
                <i class="fa fa-fw fs-4 fa-exclamation-triangle" style="vertical-align: -0.2em;"></i>
                The submission contains compile errors. Tests may have failed because of this.
            </div>
            <div th:if="*{properties.contains('nondeterministic')}" class="alert alert-warning">
                <i class="fa fa-fw fs-4 fa-random" style="vertical-align: -0.2em;"></i>
                The submission produced multiple different results when executed repeatedly. Only tests that were
                successful in <em>every</em> repetition are counted as passed. Check for randomness.
            </div>
            <div th:if="*{properties.contains('timeout')}" class="alert alert-warning">
                <i class="fa fa-fw fs-4 fa-hourglass-half" style="vertical-align: -0.2em;"></i>
                Some tests took too long to execute. Check for infinite loops.
            </div>
            <div th:if="*{properties.contains('out of memory')}" class="alert alert-warning">
                <i class="fa fa-fw fs-4 fa-microchip" style="vertical-align: -0.2em;"></i>
                Some tests ran out of memory. Check for infinite loops or very large data structures.
            </div>
            <div th:if="*{properties.contains('illegal operation')}" class="alert alert-warning">
                <i class="fa fa-fw fs-4 fa-ban" style="vertical-align: -0.2em;"></i>
                The code tried to attempt illegal operations, such as accessing system properties or the file system.
            </div>

            <div th:if="*{compiled && totalTests == 0}" class="alert alert-secondary">
                <i class="fa fa-fw fs-4 fa-question" style="vertical-align: -0.2em;"></i>
                No tests were executed. You may want to inform the person responsible for this course about this.
            </div>

            <div th:if="*{compiled && totalTests > 0}">
                <div class="test-bar mt-4" style="height: 2rem">
                    <div class="passed" th:style="|width: *{passedTestsRatio * 100}%;|" style="width: 50%;"></div>
                </div>
                <div class="mt-2 mb-4 text-center font-weight-bold" style="font-size: 1.5em;"
                     th:text="|*{passedTests.size} / *{totalTests} tests passed (*{passedTests.size * 100 / totalTests}%)|">
                    2 / 7 tests passed (29%)
                </div>
                <table class="table w-auto">
                    <thead>
                        <tr>
                            <th>Test</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="test : *{allTests}">
                            <td th:text="${test}">testName</td>
                            <td>
                                <span th:if="${#lists.contains(submission.result.passedTests,test)}"
                                      class="badge bg-success font-monospace">
                                    PASSED
                                </span>
                                <span th:unless="${#lists.contains(submission.result.passedTests,test)}"
                                      class="badge bg-danger font-monospace">
                                    FAILED
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </th:block>

        <th:block th:if="${allSubmissions.size > 1}">
            <h2>Other Submissions</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Commit</th>
                    <th class="d-none d-md-table-cell">Received</th>
                    <th>Status</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="s : ${allSubmissions}">
                    <td>
                        <a th:unless="${s == submission}" class="font-monospace"
                           th:text="${s.shortCommitHash}" th:href="@{../{id}/(id=${s.id})}">
                            c0f27a18
                        </a>
                        <span th:if="${s == submission}" class="font-monospace" th:text="${s.shortCommitHash}"></span>
                    </td>
                    <td class="d-none d-md-table-cell">
                        <span th:text="${@prettyTime.get.format(s.receivedDate)}"
                              th:title="${#temporals.format(s.receivedDate)}">
                            Date
                        </span>
                    </td>
                    <td>
                        <span th:replace="fragments::status(${s})"></span>
                    </td>
                    <td>
                        <span th:replace="fragments::result(${s})">—</span>
                    </td>
                </tr>
            </table>
        </th:block>

        <div class="mt-4">
            <div sec:authorize="@access.check(#vars.submission)" class="mb-3">
                <form th:action="@{re-grade}" method="post" class="d-inline">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-redo"></i> Re-grade</button>
                </form>
            </div>
            <p>
                <a href="../problem-sets/problem-set.html" th:href="@{../../../..}" class="btn btn-secondary">
                    Back to problem set
                </a>
            </p>
        </div>
    </main>
</body>
</html>
