<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="page::html(title=~{::title},main=~{::main})">
<head>
    <title>Admin Panel</title>
</head>
<body>
    <main>
        <h1>Admin Panel</h1>
        <h2>Users</h2>
        <table class="table align-middle">
            <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Display Name</th>
                <th>Roles</th>
                <th>Access Tokens</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}">
                    42
                </td>
                <td th:text="${user.username}">
                    peter
                </td>
                <td th:text="${user.displayName}">
                    Peter Meier
                </td>
                <td th:text="${#strings.setJoin(user.authorities, ', ')}">
                    ROLE1, ROLE2
                </td>
                <td th:text="|${tokenCounts.get(user)} access tokens|">
                    4 access tokens
                </td>
                <td>
                    <button th:unless="${undeletable.contains(user)}"
                            type="submit" class="btn btn-danger" th:form="|delete-user-${user.id}|"
                            title="Delete this user">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <form th:each="user : ${users}" th:id="|delete-user-${user.id}|" th:action="@{delete-user}" method="post"
              onSubmit="return confirm('Are you sure you want to delete this user?');">
            <input type="hidden" name="userId" th:value="${user.id}">
        </form>

        <p>
            <a class="btn btn-primary" th:href="@{create-user}"><i class="fa fa-user-plus"></i> Create user</a>
        </p>
    </main>
</body>
</html>
