<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="page::html(title=~{::title},main=~{::main})">
<head>
    <title th:text="#{admin-panel}">Admin Panel</title>
</head>
<body>
    <main>
        <h1 th:text="#{admin-panel}">Admin Panel</h1>
        <h2 th:text="#{users}">Users</h2>
        <table class="table align-middle">
            <thead>
            <tr>
                <th th:text="#{user.id}">ID</th>
                <th th:text="#{user.username}">Username</th>
                <th th:text="#{user.display-name}">Display Name</th>
                <th th:text="#{user.roles}">Roles</th>
                <th th:text="#{user.access-tokens}">Access Tokens</th>
                <th th:text="#{user.actions}">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}">
                    42
                </td>
                <td th:text="${user.username}">
                    peter
                </td>
                <td th:text="${user.displayName}">
                    Peter Meier
                </td>
                <td th:text="${#strings.setJoin(user.authorities, ', ')}">
                    ROLE1, ROLE2
                </td>
                <td th:text="|${tokenCounts.get(user)} #{user.access-tokens}|">
                    4 access tokens
                </td>
                <td>
                    <button th:unless="${undeletable.contains(user)}"
                            type="submit" class="btn btn-danger" th:form="|delete-user-${user.id}|"
                            th:title="#{user.delete}">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <form th:each="user : ${users}" th:id="|delete-user-${user.id}|" th:action="@{delete-user}" method="post"
              th:onsubmit="|return confirm('#{user.delete.confirm}');|">
            <input type="hidden" name="userId" th:value="${user.id}">
        </form>

        <p>
            <a class="btn btn-primary" th:href="@{create-user}">
                <i class="fa fa-user-plus"></i> <span th:text="#{user.create}">Create user</span>
            </a>
        </p>
    </main>
</body>
</html>
