<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="page::html(title=~{::title},main=~{::main})">
<head>
    <title>Create User</title>
</head>
<body>
    <main>
        <h1>Create User</h1>
        <div th:if="${error}" class="alert alert-danger" role="alert" th:text="${error}">
            Error message
        </div>
        <form th:action="@{create-user}" method="post">
            <div class="row mb-3">
                <label for="username" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" th:value="${username}" id="username" name="username"
                           class="form-control" required>
                </div>
            </div>
            <div class="row mb-3">
                <label for="displayName" class="col-sm-2 col-form-label">Display name</label>
                <div class="col-sm-10">
                    <input type="text" th:value="${displayName}" id="displayName" name="displayName"
                           class="form-control" required>
                </div>
            </div>
            <div class="row mb-3">
                <label for="roles" class="col-sm-2 col-form-label">Roles</label>
                <div class="col-sm-10">
                    <select name="roles" id="roles" class="form-control" multiple size="2">
                        <option th:each="role : ${possibleRoles}" th:value="${role}" th:text="${role}">
                            ROLE
                        </option>
                    </select>
                </div>
            </div>

            <div class="row gy-2">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary w-100">Add</button>
                </div>
                <div class="col-sm-2">
                    <a th:href="@{.}" class="btn btn-secondary w-100">Cancel</a>
                </div>
            </div>
        </form>
    </main>
</body>
</html>
