<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="page::html(title=~{::title},main=~{::main})">
<head>
    <title>Add Problem Set</title>
</head>
<body>
    <main>
        <h1>Add Problem Set</h1>
        <form method="post" enctype="multipart/form-data">
            <h4 class="mb-3">Problem Set</h4>
            <div class="row mb-3">
                <label for="course" class="col-sm-2 col-form-label">Course</label>
                <div class="col-sm-10">
                    <input type="text" id="course" name="course" class="form-control" readonly
                           value="Course Name" th:value="${course.fullName}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" id="name" name="name" class="form-control" required>
                </div>
            </div>
            <div class="row mb-3">
                <label for="deadlineDate" class="col-sm-2 col-form-label">Deadline</label>
                <div class="col">
                    <input type="date" id="deadlineDate" name="deadlineDate" class="form-control" required>
                </div>
                <div class="col ps-0">
                    <input type="time" id="deadlineTime" name="deadlineTime" class="form-control" required
                           value="23:59">
                </div>
            </div>

            <h4 class="mb-3">Grading Configuration</h4>
            <div class="row mb-3">
                <label for="testClassFile" class="col-sm-2 col-form-label">Test Class</label>
                <div class="col-sm-10">
                    <input type="file" accept=".java" class="form-control" name="testClassFile"
                           id="testClassFile" required>
                </div>
            </div>
            <div class="row mb-3">
                <label for="structure" class="col-sm-2 col-form-label">Structure</label>
                <div class="col">
                    <select name="structure" id="structure" class="form-select">
                        <option value="MAVEN" selected>Maven (src/main/java)</option>
                        <option value="ECLIPSE">Eclipse (src)</option>
                    </select>
                </div>
                <div class="col ps-0">
                    <input type="text" id="projectRoot" name="projectRoot" class="form-control"
                           placeholder="Root directory inside repository">
                </div>
            </div>
            <div class="row mb-3">
                <label for="compiler" class="col-sm-2 col-form-label">Compiler</label>
                <div class="col-sm-10">
                    <select name="compiler" id="compiler" class="form-select">
                        <option value="ECLIPSE" selected>Eclipse (ignores unrelated compile errors)</option>
                        <option value="JAVAC">javac (whole project must compile)</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="repetitions" class="col-sm-2 col-form-label">Repetitions</label>
                <div class="col-sm-10">
                    <input type="number" accept=".java" class="form-control" id="repetitions"
                           name="repetitions" value="7" required>
                </div>
            </div>
            <div class="row mb-5">
                <label for="repTimeoutMs" class="col-sm-2 col-form-label">Timeouts</label>
                <div class="col input-group">
                    <span class="input-group-text">Per rep.</span>
                    <input type="number" name="repTimeoutMs" id="repTimeoutMs" class="form-control" value="5000">
                    <span class="input-group-text">ms</span>
                </div>
                <div class="col ps-0 input-group">
                    <span class="input-group-text">All reps.</span>
                    <input type="number" id="testTimeoutMs" name="testTimeoutMs" class="form-control" value="10000">
                    <span class="input-group-text">ms</span>
                </div>
            </div>

            <div class="row gy-2">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary w-100">Add</button>
                </div>
                <div class="col-sm-2">
                    <a href="../courses/course.html" th:href="@{..}" class="btn btn-secondary w-100">Cancel</a>
                </div>
            </div>
        </form>
    </main>
</body>
</html>
