<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="page::html(title=~{::title},main=~{::main})">
<head>
    <title th:text="|*{problemSet.name} (*{problemSet.course.name})|">Problem Set Name (Course Name)</title>
</head>
<body>
    <main th:object="${problemSet}">
        <h1 th:text="|*{name} (*{course.name})|">Problem Set Name (Course Name)</h1>
        <p>
            Deadline:
            <span class="deadline" th:text="|${#temporals.format(problemSet.deadline)} (${@prettyTime.get.format(problemSet.deadline)})|">Date</span>
        </p>
        <h2>Solutions</h2>
        <div th:if="*{registeringSolutions}" class="alert alert-info" role="alert">
            Solutions are being registered. Check back later.
        </div>
        <div th:if="*{!registeringSolutions and solutions.empty}" class="alert alert-warning" role="alert">
            No solutions registered yet.
        </div>
        <table class="table" th:unless="*{solutions.empty}">
            <thead>
                <tr>
                    <th>Authors</th>
                    <th>Commit</th>
                    <th class="d-none d-md-table-cell">Received</th>
                    <th>Status</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="sol : *{solutions}" th:with="latest = ${sol.latestSubmission}">
                    <td th:text="${#strings.setJoin(sol.authors, ', ')}">Authors</td>
                    <td>
                        <a th:if="${latest != null}" class="font-monospace"
                            th:text="${latest.shortCommitHash}"
                            th:href="@{solutions/{solId}/submissions/{id}/(solId=${sol.id},id=${latest.id})}"
                            href="../submissions/submission.html">
                            c0f27a18
                        </a>
                        <span th:if="${latest == null}">—</span>
                    </td>
                    <td class="d-none d-md-table-cell">
                        <span th:if="${latest != null}"
                              th:text="${@prettyTime.get.format(latest.receivedDate)}"
                              th:title="${#temporals.format(latest.receivedDate)}">
                            Date
                        </span>
                        <span th:if="${latest == null}">—</span>
                    </td>
                    <td>
                        <span th:if="${sol.fetchingSubmission}" class="badge bg-secondary">
                            Fetching submission...
                        </span>
                        <span th:if="${!sol.fetchingSubmission && latest == null}" class="badge bg-warning">
                            No submission yet
                        </span>
                        <th:block th:if="${latest != null}" th:switch="${latest.status.name}">
                            <span th:case="'QUEUED'" class="badge bg-secondary">
                                Queued
                            </span>
                            <span th:case="'GRADING'" class="badge bg-info">
                                Grading...
                            </span>
                            <span th:case="'GRADED'" class="badge bg-primary">
                                Graded
                            </span>
                            <span th:case="'ERROR'" class="badge bg-danger">
                                Error
                            </span>
                        </th:block>
                    </td>
                    <td>
                        <span th:if="${latest == null || !latest.hasResult}">—</span>
                        <th:block th:if="${latest != null && latest.hasResult}">
                            <span th:if="${!latest.result.compiled}" class="badge bg-danger">
                                Compile errors
                            </span>
                            <span th:if="${latest.result.compiled && latest.result.totalTests == 0}" class="badge bg-secondary">
                                No tests
                            </span>
                            <span th:if="${latest.result.compiled && latest.result.totalTests > 0}"
                                  class="test-bar d-inline-block align-middle" style="width: 8rem; height: 1rem;">
                                <span class="passed d-inline-block" style="width: 50%;"
                                      th:style="|width: ${latest.result.passedTestsRatio * 100}%;|"></span>
                            </span>
                        </th:block>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="mt-4">
            <div sec:authorize="isAuthenticated()" class="mb-3">
                <a href="register-solutions-gitlab.html" th:href="@{register-solutions-gitlab}"
                   class="btn btn-primary">Register solutions</a>
                <form th:action="@{delete}" method="post" class="d-inline"
                      onSubmit="return confirm('Sure?');">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
            <p>
                <a href="../courses/course.html" th:href="@{../..}" class="btn btn-secondary">Back to course</a>
            </p>
        </div>
    </main>
</body>
</html>
