<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="page::html(title=~{::title},main=~{::main})">
<head>
    <title th:text="|*{problemSet.name} (*{problemSet.course.name})|">Problem Set Name (Course Name)</title>
</head>
<body>
    <main th:object="${problemSet}">
        <h1 th:text="|*{name} (*{course.name})|">Problem Set Name (Course Name)</h1>
        <p>
            Deadline:
            <span class="deadline" th:text="|${@prettyTime.get.format(problemSet.deadline)} (${#temporals.format(problemSet.deadline, 'MEDIUM')})|">Date</span>
        </p>
        <h2>Latest submissions</h2>
        <div th:if="*{registeringSolutions}" class="alert alert-info" role="alert">
            Solutions are being registered. Check back later.
        </div>
        <div th:if="*{!registeringSolutions and solutions.empty}" class="alert alert-warning" role="alert">
            No solutions registered yet.
        </div>
        <table class="table" th:unless="*{solutions.empty}">
            <thead>
                <tr>
                    <th>Authors</th>
                    <th>Commit</th>
                    <th class="d-none d-md-table-cell">Received</th>
                    <th>Status</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="sol : ${solutions}" th:with="latest = ${sol.latestSubmission}">
                    <td>
                        <span th:unless="*{anonymous}" th:text="${#strings.setJoin(sol.authors, ', ')}">
                            Authors
                        </span>
                        <span th:if="*{anonymous}" class="text-muted fst-italic"
                              th:title="${#authorization.expr('@access.check(#vars.problemSet)') ? #strings.setJoin(sol.authors, ', ') : ''}">
                            (anonymous)
                        </span>
                    </td>
                    <td>
                        <a th:if="${latest != null}" class="font-monospace"
                            th:text="${latest.shortCommitHash}"
                            th:href="@{solutions/{solId}/submissions/{id}/(solId=${sol.id},id=${latest.id})}"
                            href="../submissions/submission.html">
                            c0f27a18
                        </a>
                        <span th:if="${latest == null}">—</span>
                    </td>
                    <td class="d-none d-md-table-cell">
                        <span th:if="${latest != null}"
                              th:text="${@prettyTime.get.format(latest.receivedDate)}"
                              th:title="${#temporals.format(latest.receivedDate)}">
                            Date
                        </span>
                        <span th:if="${latest == null}">—</span>
                    </td>
                    <td>
                        <span th:if="${latest == null}" class="badge bg-secondary">
                            No submission yet
                        </span>
                        <th:block th:unless="${latest == null}">
                            <span th:replace="fragments::status(${latest})"></span>
                        </th:block>
                    </td>
                    <td>
                        <span th:replace="fragments::result(${latest})">—</span>
                    </td>
                </tr>
            </tbody>
        </table>

        <th:block th:unless="${stats.groups.isEmpty}">
            <h2>Statistics</h2>
            <table class="table w-auto" style="min-width: 50%;">
                <thead>
                    <tr>
                        <th>Test</th>
                        <th style="width: 0;">Ratio</th>
                    </tr>
                </thead>
                <th:block th:each="group,i : ${stats.groups}">
                    <tbody>
                        <tr>
                            <td>
                                <a role="button" data-bs-toggle="collapse"
                                   class="accordion-button collapsed text-decoration-none text-reset p-0 bg-transparent shadow-none"
                                   th:href="|#testGroupStats${i.index}|">
                                    <span th:text="${group.name} ?: 'Ungrouped tests'" class="me-3">Group</span>
                                </a>
                            </td>
                            <td style="white-space: nowrap;">
                                <span th:replace="fragments::resultBar(${group.passedToSubmittedRatio},null)"></span>
                                <span th:text="|${100 * group.totalPassed / (group.totalPassed + group.totalFailed)}%|"
                                      style="display: inline-block; width: 3em; text-align: right;">
                                    45%
                                </span>
                            </td>
                        </tr>
                    </tbody>
                    <tbody class="collapse" th:id="|testGroupStats${i.index}|">
                        <tr th:each="test : ${group.tests}" style="background: #F9F9F9;">
                            <td th:text="${test.name}">Test</td>
                            <td th:with="title=|${test.passed} / ${test.passed + test.failed} submissions passed|"
                                style="white-space: nowrap;">
                                <span th:replace="fragments::resultBar(${test.passedToSubmittedRatio},${title})"></span>
                                <span th:text="|${100 * test.passed / (test.passed + test.failed)}%|"
                                      style="display: inline-block; width: 3em; text-align: right;">
                                    45%
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </th:block>
            </table>
        </th:block>

        <div class="mt-4">
            <div sec:authorize="@access.check(#vars.problemSet)" class="mb-3">
                <a href="register-solutions-gitlab.html" th:href="@{register-solutions-gitlab}"
                   class="btn btn-primary"><i class="fa fa-plus"></i> Register solutions</a>
                <form th:action="@{remove-solutions}" method="post" class="d-inline"
                      onSubmit="return confirm('Sure?');">
                    <button type="submit" class="btn btn-danger"><i class="fa fa-minus"></i> Remove solutions</button>
                </form>
                <form th:action="@{delete}" method="post" class="d-inline"
                      onSubmit="return confirm('Sure?');">
                    <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
                </form>
            </div>
            <p>
                <a href="../courses/course.html" th:href="@{../..}" class="btn btn-secondary">Back to course</a>
            </p>
        </div>
    </main>
</body>
</html>
