<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="page::html(title=~{::title},main=~{::main})">
<head>
    <title th:text="#{problem-set.register-gitlab}">Register</title>
</head>
<body>
    <main>
        <h1 th:text="#{problem-set.register-gitlab}">Register</h1>
        <div th:if="${error}" class="alert alert-danger" role="alert" th:text="${error}"></div>
        <form th:action="@{register-solutions-gitlab}" method="post">
            <div class="row mb-3">
                <label for="problemSet" class="col-sm-3 col-form-label" th:text="#{problem-set}">Problem set</label>
                <div class="col-sm-9">
                    <input type="text" id="problemSet" name="problemSet" class="form-control" readonly
                           value="Problem set" th:value="|${problemSet.name} (${problemSet.course.name})|">
                </div>
            </div>
            <div class="row mb-3">
                <label for="host" class="col-sm-3 col-form-label"
                       th:text="#{problem-set.register-gitlab.group}">GitLab Group</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <span class="input-group-text">https://</span>
                        <input type="text" id="host" name="host" class="form-control"
                               required th:value="${host}">
                        <span class="input-group-text">/</span>
                        <input type="text" id="groupPath" name="groupPath" class="form-control"
                               required th:placeholder="#{problem-set.register-gitlab.group-path}"
                               th:value="${groupPath}">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="token" class="col-sm-3 col-form-label"
                       th:text="#{problem-set.register-gitlab.access-token}">Access token</label>
                <div class="col-sm-9">
                    <input type="text" id="token" name="token" class="form-control"
                           placeholder="abcdEFGHI01234-vwXYZ">
                    <div class="form-text" th:utext="#{problem-set.register-gitlab.access-token-desc}">
                        Description
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ignoreAuthorless" name="ignoreAuthorless"
                               th:checked="${ignoreAuthorless}">
                        <label class="form-check-label" for="ignoreAuthorless"
                               th:text="#{problem-set.register-gitlab.ignore-authorless}">Ignore</label>
                    </div>
                </div>
            </div>

            <div class="row gy-2">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary w-100"
                            th:text="#{register}">Register</button>
                </div>
                <div class="col-sm-2">
                    <a href="problem-set.html" th:href="@{./}" class="btn btn-secondary w-100"
                       th:text="#{cancel}">Cancel</a>
                </div>
            </div>
        </form>
    </main>
</body>
</html>
