<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="page::html(title=~{::title},main=~{::main})">
<head>
    <title>Register Solutions from GitLab</title>
</head>
<body>
    <main>
        <h1>Register Solutions from GitLab</h1>
        <div th:if="${error}" class="alert alert-danger" role="alert" th:text="${error}"></div>
        <form th:action="@{register-solutions-gitlab}" method="post">
            <div class="row mb-3">
                <label for="problemSet" class="col-sm-3 col-form-label">Problem set</label>
                <div class="col-sm-9">
                    <input type="text" id="problemSet" name="problemSet" class="form-control" readonly
                           value="Problem set" th:value="|${problemSet.name} (${problemSet.course.name})|">
                </div>
            </div>
            <div class="row mb-3">
                <label for="host" class="col-sm-3 col-form-label">GitLab Group</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <span class="input-group-text">https://</span>
                        <input type="text" id="host" name="host" class="form-control"
                               required th:value="${host}">
                        <span class="input-group-text">/</span>
                        <input type="text" id="groupPath" name="groupPath" class="form-control"
                               required placeholder="group/subgroup" th:value="${groupPath}">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="token" class="col-sm-3 col-form-label">Access token</label>
                <div class="col-sm-9">
                    <input type="text" id="token" name="token" class="form-control"
                           placeholder="abcdEFGHI01234-vwXYZ">
                    <div class="form-text">
                        The token must grant <strong>read_api</strong> and <strong>read_repo</strong> access.
                        Can be left empty if a token for this host has been provided before.
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ignoreAuthorless" name="ignoreAuthorless"
                               th:checked="${ignoreAuthorless}">
                        <label class="form-check-label" for="ignoreAuthorless">Ignore projects without authors</label>
                    </div>
                </div>
            </div>

            <div class="row gy-2">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary w-100">Register</button>
                </div>
                <div class="col-sm-2">
                    <a href="problem-set.html" th:href="@{./}" class="btn btn-secondary w-100">Cancel</a>
                </div>
            </div>
        </form>
    </main>
</body>
</html>
